body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    margin: auto;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

nav {
    font-size: 1.5vmax;
}

nav ul li {
    display: inline;
    margin-left: 5%;
}

a:hover {
    background-color: black;
    color: white;
}

header {
    height: 18vmin;
    padding-top: 5vmin;
    width: 100%;
    display: inline-block;

}

h1 {
    font-size: 10vmin;
}

h1:hover {
    background-color: black;
    color: white;
}

form {
    width: 20%;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 6vmin;
}

h3 {
    font-size: 5vmin;
}

p {
    font-size: 2vmin;
}

span {
    font-size: 3vmin;
}

canvas {
    margin: auto;
    display: block;
    margin-top: 8vmin;
}

h2 {
    font-family: 'Raleway', sans-serif;
    margin: auto;
    text-align: center;
}

h3, h1, p, span {
    font-family: 'Raleway', sans-serif;
    margin: auto;
    text-align: center;
}

#tableau-score {
    height: 23vmin;
    margin-top: 5vmin;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#game1, #game2 {
    width: 40%;
    display: inline-block;
}

#separator {
    width: 17%;
    display: inline-block;
}

footer {
    height: 200px;
}

#tour {
    width: 20vmin;
    height: 5vmin;
    margin: auto;
    margin-bottom: 5vmin;
}

#couleur1 {
    width: 20vmin;
    height: 5vmin;
    margin: auto;
}

#couleur2 {
    width: 20vmin;
    height: 5vmin;
    margin: auto;
}

label.error {
    display: block;
    font-size: 2.3vmin;
    color: red;
}

.buttonNav {
    border: none;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vmax;
}

.buttonNav:hover {
    color: white;
    background-color: black;
}

.buttonNav:focus {
    outline: 0;
    border: none;
    text-decoration: none;
    color: white;
    background-color: black;
    box-sizing: none;
}

h5 {
    margin: auto;
    margin-top: 3vmin;
    margin-bottom: 3vmin;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vmin;
}

.contenu {
    width: 60%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

li {
    font-family: 'Montserrat', sans-serif;
    list-style-type: square;
    padding: 0.5vmin;
    text-align: left;
}

.bestScore {
    list-style: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vmin;
}

.info {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vmin;
}